<nav class="nav-wraper sticky-top bg-dark" >      
        <div class="nav-container ">                
            <a href="#" class="sidenav-trigger" data-target="slide-out" >
                <i class="material-icons">menu</i>
            </a> 
            
            <div class=" row hide-on-med-and-down   table-of-contents">   
                <div class="header-logo title justify-content-left" >
                    <p class="logo">MONGO SCRAPER</p>                        
                </div>   
                <div class="header-nav">
                    <ul class="justify-content-right" >    
                        <li><i class="fa fa-home" aria-hidden="true"><a href="/" >  Home</a></i></li>       
                        <li><i class="fa fa-get-pocket" aria-hidden="true"><a href="#" class ="scrapeNews">Scrape News</a></i></li>
                        <li><i class="fa fa-eraser" aria-hidden="true"><a href="#">Clear News</a></i></li>                  
                        <li><i class="fa fa-bookmark" aria-hidden="true"><a href="/savednews" class="savedNews">Saved News</a></i></li>
                          
                        {{!-- <li><i class="fa fa-sign-out" aria-hidden="true"><a href="#">Logout</a></i></li> --}}
                    
                    </ul>
                </div>
            </div>  
        </div>    
</nav>  

 <ul class="sidenav" id="slide-out" >    
    <br>       
    <li>              
        <h4 class="text-blue">Mongo Scraper</h4>        
        <p>Welcome</p>
    </li>
   
    <div class="divider"></div>
    <li><i class="fa fa-home" aria-hidden="true"><a href="/" >  Home</a></i></li>
    <li><i class="fa fa-get-pocket" aria-hidden="true"><a href="#" class ="scrapeNews">  Scrape News</a></i></li>
    <li><i class="fa fa-eraser" aria-hidden="true"><a href="#">Clear News</a></i></li>
    <li><i class="fa fa-bookmark" aria-hidden="true"><a href="/savednews" class="savedNews">   Saved News</a></i></li>
    
<div class="body-container">
    
    <div class="row">

         <div class="container-fluid newsLogo justify-content-center">
             <h1>MONGO SCRAPE</h1>
             <br>
             <h2>New York Times Edition</h2>
         </div> 
        
    </div>
    
    <div class="row">
        <div >            
            <ol class="list-group">
                {{!-- {{newsData}} --}}
                {{#each news}}
                   <div class="card">
                    <div class="card-header">
                       {{headline}}                        
                    </div>
                    <div class="card-body"  value = {{_id}}>
                        <p class="cardTitle">{{summary}}</p>
                        <a href="{{ url }}" target="_blank">More Information: {{ url }}</a>
                        <button type="button"  class="button saveBtn" value = {{_id}}>Save Article</button>
                        
                    </div>
                    </div>
                {{/each}}             
               
            </ol>
        </div>
    
       
    </div>
  
</div>    

<div id="modal-info"  class="modal">
    <div class="modal-content">
      <h4>Information</h4>
      <p></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat news-modal-close">Close</a>
    </div>
  </div>